<form
  [formGroup]="loginFormGroup"
  (ngSubmit)="onSubmit()"
  data-cy="loginFormGroup-registration"
>
  <div>
    <label>FirstName</label>
    <input
      data-cy="firstName-input-registration"
      type="text"
      [formControl]="firstNameCtrl"
    />
    <div *ngIf="firstNameCtrl.touched">
      <ng-container *ngIf="firstNameCtrl.errors?.['required']"
        >First name is required
      </ng-container>

      <ng-container *ngIf="firstNameCtrl.errors?.['minlength']"
        >First name must contains 2 characters minimum
      </ng-container>
    </div>
  </div>

  <div>
    <label>lastName</label>
    <input
      data-cy="lastName-input-registration"
      type="text"
      [formControl]="lastNameCtrl"
    />

    <div *ngIf="lastNameCtrl.touched">
      <ng-container *ngIf="lastNameCtrl.errors?.['required']"
        >Last name is required
      </ng-container>
      <ng-container *ngIf="lastNameCtrl.errors?.['minlength']"
        >Last name must contains 2 characters minimum
      </ng-container>
    </div>
  </div>

  <div>
    <label>email</label>
    <input
      data-cy="email-input-registration"
      type="email"
      [formControl]="emailCtrl"
    />

    <div *ngIf="emailCtrl.touched">
      <ng-container *ngIf="emailCtrl.errors?.['emailFormatInvalid']">
        Email format is invalid
      </ng-container>
      <ng-container *ngIf="emailCtrl.errors?.['emailExists']">
        Email exists
      </ng-container>
    </div>
  </div>

  <div>
    <label>password</label>
    <input
      data-cy="password-input-registration"
      type="password"
      [formControl]="passwordCtrl"
    />
    <div
      *ngIf="passwordCtrl.touched && passwordCtrl.errors?.['required']; else passwordInvalidBlock"
    >
      Password is required
    </div>
    <ng-template #passwordInvalidBlock>
      <div
        *ngIf="passwordCtrl.touched &&  passwordCtrl.errors?.['passwordInvalid']"
      >
        Password is invalid
      </div>
    </ng-template>
  </div>

  <div>
    <label>confirmation password</label>
    <input
      data-cy="confirmationPassword-input-registration"
      type="password"
      [formControl]="confirmationPasswordCtrl"
    />
    <div
      *ngIf="confirmationPasswordCtrl.touched && confirmationPasswordCtrl.errors?.['required']; else confirmationPasswordInvalidBlock"
    >
      Confirmation password is required
    </div>
    <ng-template #confirmationPasswordInvalidBlock>
      <div
        *ngIf="confirmationPasswordCtrl.touched &&  confirmationPasswordCtrl.errors?.['passwordInvalid']; else passwordsAreNotTheSameBlock"
      >
        Confirmation password is invalid
      </div>

      <ng-template #passwordsAreNotTheSameBlock>
        <div
          *ngIf="confirmationPasswordCtrl.touched &&  loginFormGroup.errors?.['passwordsAreNotTheSame']"
        >
          Password and confirm password are not the same
        </div>
      </ng-template>
    </ng-template>
  </div>

  <button
    data-cy="submit-button-registration"
    [disabled]="loginFormGroup.invalid"
  >
    Submit
  </button>
</form>
