<form
  [formGroup]="registrationFG"
  (ngSubmit)="onSubmit()"
  data-cy="form-group-registration"
>
  <div>
    <label for="firstName-input-registration">{{
      "FirstName" | translate
    }}</label>
    <input
      name="firstName-input-registration"
      data-cy="firstName-input-registration"
      type="text"
      [formControl]="firstNameCtrl"
    />
    <div *ngIf="firstNameCtrl.touched">
      <ng-container *ngIf="firstNameCtrl.errors?.['required']">
        {{ "FirstNameRequired" | translate }}
      </ng-container>

      <ng-container *ngIf="firstNameCtrl.errors?.['minlength']">
        {{ "FirstNameError" | translate }}
      </ng-container>
    </div>
  </div>

  <div>
    <label for="lastName-input-registration">{{
      "LastName" | translate
    }}</label>
    <input
      name="lastName-input-registration"
      data-cy="lastName-input-registration"
      type="text"
      [formControl]="lastNameCtrl"
    />

    <div *ngIf="lastNameCtrl.touched">
      <ng-container *ngIf="lastNameCtrl.errors?.['required']">
        {{ "LastNameRequired" | translate }}
      </ng-container>
      <ng-container *ngIf="lastNameCtrl.errors?.['minlength']">
        {{ "LastNameError" | translate }}
      </ng-container>
    </div>
  </div>

  <div>
    <label for="email-input-registration">{{ "Email" | translate }}</label>
    <input
      name="email-input-registration"
      data-cy="email-input-registration"
      type="email"
      [formControl]="emailCtrl"
    />

    <ng-container *ngIf="emailCtrl.touched">
      <div *ngIf="emailCtrl.errors?.['required']; else emailFormatInvalidBlock">
        {{ "EmailRequired" | translate }}
      </div>
      <ng-template #emailFormatInvalidBlock>
        <div *ngIf="emailCtrl.errors?.['emailFormatInvalid']">
          {{ "EmailError" | translate }}
        </div>
      </ng-template>

      <div *ngIf="emailCtrl.errors?.['emailExists']">
        {{ "EmailExists" | translate }}
      </div>
    </ng-container>
  </div>

  <div>
    <label for="password-input-registration">{{
      "Password" | translate
    }}</label>
    <input
      name="password-input-registration"
      data-cy="password-input-registration"
      type="password"
      [formControl]="passwordCtrl"
    />
    <div
      *ngIf="passwordCtrl.touched && passwordCtrl.errors?.['required']; else passwordInvalidBlock"
    >
      {{ "PasswordRequired" | translate }}
    </div>
    <ng-template #passwordInvalidBlock>
      <div
        *ngIf="passwordCtrl.touched &&  passwordCtrl.errors?.['passwordInvalid']"
      >
        {{ "PasswordError" | translate }}
      </div>
    </ng-template>
  </div>

  <div>
    <label for="confirmation-password-input-registration">{{
      "ConfirmPassword" | translate
    }}</label>
    <input
      name="confirmation-password-input-registration"
      data-cy="confirmation-password-input-registration"
      type="password"
      [formControl]="confirmationPasswordCtrl"
    />
    <ng-container *ngIf="confirmationPasswordCtrl.touched">
      <div
        *ngIf="confirmationPasswordCtrl.errors?.['required']; else confirmationPasswordInvalidBlock"
      >
        {{ "ConfirmPasswordRequired" | translate }}
      </div>
      <ng-template #confirmationPasswordInvalidBlock>
        <div
          *ngIf="confirmationPasswordCtrl.errors?.['passwordInvalid']; else passwordsAreNotTheSameBlock"
        >
          {{ "PasswordError" | translate }}
        </div>

        <ng-template #passwordsAreNotTheSameBlock>
          <div *ngIf="registrationFG.errors?.['passwordsAreNotTheSame']">
            {{ "PasswordsAreNotSame" | translate }}
          </div>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>

  <button
    data-cy="submit-button-registration"
    [disabled]="registrationFG.invalid"
  >
    {{ "Registration" | translate }}
  </button>
</form>
